USE [auro1]
GO
/****** Object:  Table [dbo].[bien_the_san_pham]    Script Date: 11/6/2025 10:35:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bien_the_san_pham](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[sku] [nvarchar](100) NULL,
	[so_luong_ton] [int] NOT NULL,
	[id_chat_lieu] [bigint] NULL,
	[id_kich_co] [bigint] NULL,
	[id_mau_sac] [bigint] NULL,
	[id_san_pham] [bigint] NOT NULL,
	[gia] [numeric](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat_lieu]    Script Date: 11/6/2025 10:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_lieu](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[danh_muc]    Script Date: 11/6/2025 10:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danh_muc](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[hoat_dong] [int] NULL,
	[slug] [nvarchar](200) NULL,
	[ten] [nvarchar](255) NOT NULL,
	[thu_tu] [int] NULL,
	[id_cha] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKpj0ktrofmk9agho8ov3nfrh0c] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dia_chi]    Script Date: 11/6/2025 10:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dia_chi](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[dia_chi_1] [nvarchar](255) NULL,
	[ho_ten] [nvarchar](150) NULL,
	[mac_dinh] [bit] NULL,
	[phuong_xa] [nvarchar](100) NULL,
	[quan_huyen] [nvarchar](100) NULL,
	[so_dien_thoai] [nvarchar](20) NULL,
	[tinh_thanh] [nvarchar](100) NULL,
	[id_khach_hang] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[don_hang]    Script Date: 11/6/2025 10:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[don_hang](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[cap_nhat_luc] [datetime2](6) NULL,
	[dat_luc] [datetime2](6) NULL,
	[dia_chi_giao_snapshot] [nvarchar](max) NULL,
	[ghi_chu] [nvarchar](500) NULL,
	[giam_gia_tong] [numeric](18, 2) NULL,
	[phi_van_chuyen] [numeric](18, 2) NULL,
	[so_don_hang] [nvarchar](50) NULL,
	[tam_tinh] [numeric](18, 2) NULL,
	[tao_luc] [datetime2](6) NULL,
	[thue_suat] [numeric](5, 2) NULL,
	[tien_te] [nvarchar](10) NULL,
	[tong_thanh_toan] [numeric](18, 2) NULL,
	[tong_thue] [numeric](18, 2) NULL,
	[trang_thai] [nvarchar](30) NULL,
	[id_khach_hang] [bigint] NOT NULL,
	[ma_voucher] [varchar](50) NULL,
	[dia_chi_giao] [nvarchar](max) NULL,
	[payment_method] [varchar](255) NULL,
	[payment_status] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[don_hang_chi_tiet]    Script Date: 11/6/2025 10:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[don_hang_chi_tiet](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[don_gia] [numeric](18, 2) NULL,
	[so_luong] [int] NOT NULL,
	[ten_hien_thi] [nvarchar](255) NULL,
	[thanh_tien] [numeric](18, 2) NULL,
	[thuoc_tinh_json] [nvarchar](max) NULL,
	[id_bien_the] [bigint] NOT NULL,
	[id_don_hang] [bigint] NOT NULL,
	[thuoc_tinh] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gia]    Script Date: 11/6/2025 10:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gia](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[bat_dau_luc] [datetime2](6) NULL,
	[cap_nhat_luc] [datetime2](6) NULL,
	[gia_khuyen_mai] [numeric](18, 2) NULL,
	[gia_niem_yet] [numeric](18, 2) NULL,
	[ket_thuc_luc] [datetime2](6) NULL,
	[tao_luc] [datetime2](6) NULL,
	[tien_te] [nvarchar](10) NULL,
	[id_bien_the] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gio_hang]    Script Date: 11/6/2025 10:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gio_hang](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[cap_nhat_luc] [datetime2](6) NULL,
	[id_phien] [nvarchar](100) NULL,
	[tao_luc] [datetime2](6) NULL,
	[tien_te] [nvarchar](10) NULL,
	[id_khach_hang] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gio_hang_chi_tiet]    Script Date: 11/6/2025 10:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gio_hang_chi_tiet](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[cap_nhat_luc] [datetime2](6) NULL,
	[gia_tai_thoi_diem] [numeric](18, 2) NULL,
	[so_luong] [int] NOT NULL,
	[tao_luc] [datetime2](6) NULL,
	[id_bien_the] [bigint] NOT NULL,
	[id_gio_hang] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hinh_anh]    Script Date: 11/6/2025 10:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hinh_anh](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[la_dai_dien] [bit] NULL,
	[tao_luc] [datetime2](6) NULL,
	[thu_tu] [int] NULL,
	[url] [nvarchar](max) NULL,
	[id_bien_the] [bigint] NULL,
	[id_san_pham] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khach_hang]    Script Date: 11/6/2025 10:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khach_hang](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NULL,
	[ho_ten] [nvarchar](255) NULL,
	[kieu] [nvarchar](50) NULL,
	[so_dien_thoai] [nvarchar](20) NULL,
	[id_tai_khoan] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kich_co]    Script Date: 11/6/2025 10:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kich_co](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](50) NULL,
	[thu_tu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mau_sac]    Script Date: 11/6/2025 10:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mau_sac](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma] [nvarchar](20) NULL,
	[ten] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhan_vien]    Script Date: 11/6/2025 10:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhan_vien](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ho_ten] [nvarchar](255) NULL,
	[so_dien_thoai] [nvarchar](20) NULL,
	[id_tai_khoan] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKe1vkex81ymkfpdwlbupbhkcud] UNIQUE NONCLUSTERED 
(
	[id_tai_khoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[san_pham]    Script Date: 11/6/2025 10:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[san_pham](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[cap_nhat_luc] [datetime2](6) NULL,
	[gia] [numeric](12, 2) NOT NULL,
	[mo_ta] [nvarchar](max) NULL,
	[slug] [varchar](200) NULL,
	[tao_luc] [datetime2](6) NULL,
	[ten] [varchar](200) NOT NULL,
	[trang_thai] [varchar](50) NOT NULL,
	[id_danh_muc] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tai_khoan]    Script Date: 11/6/2025 10:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tai_khoan](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[cap_nhat_luc] [datetime2](6) NULL,
	[email] [varchar](150) NULL,
	[mat_khau_hash] [varchar](255) NOT NULL,
	[so_dien_thoai] [varchar](20) NULL,
	[tao_luc] [datetime2](6) NULL,
	[trang_thai] [bit] NULL,
	[id_vai_tro] [bigint] NOT NULL,
	[lan_dang_nhap_cuoi] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thanh_toan_van_chuyen]    Script Date: 11/6/2025 10:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thanh_toan_van_chuyen](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[dich_vu_vc] [nvarchar](100) NULL,
	[du_lieu_json] [nvarchar](max) NULL,
	[giao_di_luc] [datetime2](6) NULL,
	[giao_thanh_cong_luc] [datetime2](6) NULL,
	[hang_van_chuyen] [nvarchar](100) NULL,
	[ma_giao_dich] [nvarchar](100) NULL,
	[ma_van_don] [nvarchar](100) NULL,
	[pt_thanh_toan] [nvarchar](50) NULL,
	[so_tien] [numeric](18, 2) NULL,
	[tao_luc] [datetime2](6) NULL,
	[thanh_toan_luc] [datetime2](6) NULL,
	[tt_thanh_toan] [nvarchar](50) NULL,
	[tt_van_chuyen] [nvarchar](50) NULL,
	[id_don_hang] [bigint] NOT NULL,
	[du_lieu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKhk5p65pcxh86shikoc3ee5x0p] UNIQUE NONCLUSTERED 
(
	[id_don_hang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ton_kho]    Script Date: 11/6/2025 10:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ton_kho](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[cap_nhat_luc] [datetime2](6) NULL,
	[so_luong_giu] [int] NULL,
	[so_luong_ton] [int] NULL,
	[ton_an_toan] [int] NULL,
	[id_bien_the] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKpc2khpi6othvddm1k7i9lyjlx] UNIQUE NONCLUSTERED 
(
	[id_bien_the] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vai_tro]    Script Date: 11/6/2025 10:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vai_tro](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma] [varchar](255) NOT NULL,
	[ten] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKqtouw8sgbc012dxjqi37r9qxq] UNIQUE NONCLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voucher]    Script Date: 11/6/2025 10:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voucher](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ngay_bat_dau] [datetime2](6) NULL,
	[ngay_cap_nhat] [datetime2](6) NULL,
	[dieu_kien_json] [nvarchar](max) NULL,
	[don_toi_thieu] [numeric](18, 2) NULL,
	[gia_tri] [numeric](18, 2) NULL,
	[giam_toi_da] [numeric](18, 2) NULL,
	[so_luong] [int] NULL,
	[ngay_ket_thuc] [datetime2](6) NULL,
	[loai] [nvarchar](50) NULL,
	[ma] [varchar](50) NOT NULL,
	[ngay_tao] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKc14dsjh8gvorus0lnyd3c7c1t] UNIQUE NONCLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voucher_khach]    Script Date: 11/6/2025 10:35:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voucher_khach](
	[trang_thai] [nvarchar](20) NULL,
	[id_khach_hang] [bigint] NOT NULL,
	[id_voucher] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_khach_hang] ASC,
	[id_voucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bien_the_san_pham]  WITH CHECK ADD  CONSTRAINT [FK_btsp_san_pham] FOREIGN KEY([id_san_pham])
REFERENCES [dbo].[san_pham] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bien_the_san_pham] CHECK CONSTRAINT [FK_btsp_san_pham]
GO
ALTER TABLE [dbo].[bien_the_san_pham]  WITH CHECK ADD  CONSTRAINT [FKaijb64bpiq42bh2lcellk01pd] FOREIGN KEY([id_kich_co])
REFERENCES [dbo].[kich_co] ([id])
GO
ALTER TABLE [dbo].[bien_the_san_pham] CHECK CONSTRAINT [FKaijb64bpiq42bh2lcellk01pd]
GO
ALTER TABLE [dbo].[bien_the_san_pham]  WITH CHECK ADD  CONSTRAINT [FKcjgthkehncs8id05s3h8eex7e] FOREIGN KEY([id_mau_sac])
REFERENCES [dbo].[mau_sac] ([id])
GO
ALTER TABLE [dbo].[bien_the_san_pham] CHECK CONSTRAINT [FKcjgthkehncs8id05s3h8eex7e]
GO
ALTER TABLE [dbo].[bien_the_san_pham]  WITH CHECK ADD  CONSTRAINT [FKh0cx3k4se5obo1i5iam8n7tur] FOREIGN KEY([id_chat_lieu])
REFERENCES [dbo].[chat_lieu] ([id])
GO
ALTER TABLE [dbo].[bien_the_san_pham] CHECK CONSTRAINT [FKh0cx3k4se5obo1i5iam8n7tur]
GO
ALTER TABLE [dbo].[bien_the_san_pham]  WITH CHECK ADD  CONSTRAINT [FKnv9makp1rylu7db1dnw3wp4pk] FOREIGN KEY([id_san_pham])
REFERENCES [dbo].[san_pham] ([id])
GO
ALTER TABLE [dbo].[bien_the_san_pham] CHECK CONSTRAINT [FKnv9makp1rylu7db1dnw3wp4pk]
GO
ALTER TABLE [dbo].[danh_muc]  WITH CHECK ADD  CONSTRAINT [FKt5m81gibsnjgrvoom2r0minsw] FOREIGN KEY([id_cha])
REFERENCES [dbo].[danh_muc] ([id])
GO
ALTER TABLE [dbo].[danh_muc] CHECK CONSTRAINT [FKt5m81gibsnjgrvoom2r0minsw]
GO
ALTER TABLE [dbo].[dia_chi]  WITH CHECK ADD  CONSTRAINT [FKrk60uo19d67v1wpbp5a1rmao5] FOREIGN KEY([id_khach_hang])
REFERENCES [dbo].[khach_hang] ([id])
GO
ALTER TABLE [dbo].[dia_chi] CHECK CONSTRAINT [FKrk60uo19d67v1wpbp5a1rmao5]
GO
ALTER TABLE [dbo].[don_hang]  WITH CHECK ADD  CONSTRAINT [FKhii8gr6q2in55nyysqsw6xeol] FOREIGN KEY([ma_voucher])
REFERENCES [dbo].[voucher] ([ma])
GO
ALTER TABLE [dbo].[don_hang] CHECK CONSTRAINT [FKhii8gr6q2in55nyysqsw6xeol]
GO
ALTER TABLE [dbo].[don_hang]  WITH CHECK ADD  CONSTRAINT [FKmivw7ljk89ubdoaox17upk6c1] FOREIGN KEY([id_khach_hang])
REFERENCES [dbo].[khach_hang] ([id])
GO
ALTER TABLE [dbo].[don_hang] CHECK CONSTRAINT [FKmivw7ljk89ubdoaox17upk6c1]
GO
ALTER TABLE [dbo].[don_hang_chi_tiet]  WITH CHECK ADD  CONSTRAINT [FK49pfhwoc5vroetdxlhp2ndsn8] FOREIGN KEY([id_don_hang])
REFERENCES [dbo].[don_hang] ([id])
GO
ALTER TABLE [dbo].[don_hang_chi_tiet] CHECK CONSTRAINT [FK49pfhwoc5vroetdxlhp2ndsn8]
GO
ALTER TABLE [dbo].[don_hang_chi_tiet]  WITH CHECK ADD  CONSTRAINT [FKamlwk5obip70rxm56ewq2o3xb] FOREIGN KEY([id_bien_the])
REFERENCES [dbo].[bien_the_san_pham] ([id])
GO
ALTER TABLE [dbo].[don_hang_chi_tiet] CHECK CONSTRAINT [FKamlwk5obip70rxm56ewq2o3xb]
GO
ALTER TABLE [dbo].[gia]  WITH CHECK ADD  CONSTRAINT [FKpylpx14oinu2qq6pxx0j6bn68] FOREIGN KEY([id_bien_the])
REFERENCES [dbo].[bien_the_san_pham] ([id])
GO
ALTER TABLE [dbo].[gia] CHECK CONSTRAINT [FKpylpx14oinu2qq6pxx0j6bn68]
GO
ALTER TABLE [dbo].[gio_hang]  WITH CHECK ADD  CONSTRAINT [FK6c8iirgeg8qcwpq1oa9noxshw] FOREIGN KEY([id_khach_hang])
REFERENCES [dbo].[khach_hang] ([id])
GO
ALTER TABLE [dbo].[gio_hang] CHECK CONSTRAINT [FK6c8iirgeg8qcwpq1oa9noxshw]
GO
ALTER TABLE [dbo].[gio_hang_chi_tiet]  WITH CHECK ADD  CONSTRAINT [FK4ndqnga7bg8578371ac1c4e9m] FOREIGN KEY([id_bien_the])
REFERENCES [dbo].[bien_the_san_pham] ([id])
GO
ALTER TABLE [dbo].[gio_hang_chi_tiet] CHECK CONSTRAINT [FK4ndqnga7bg8578371ac1c4e9m]
GO
ALTER TABLE [dbo].[gio_hang_chi_tiet]  WITH CHECK ADD  CONSTRAINT [FKhkle2qtnnet5fq60x6tdhekql] FOREIGN KEY([id_gio_hang])
REFERENCES [dbo].[gio_hang] ([id])
GO
ALTER TABLE [dbo].[gio_hang_chi_tiet] CHECK CONSTRAINT [FKhkle2qtnnet5fq60x6tdhekql]
GO
ALTER TABLE [dbo].[hinh_anh]  WITH CHECK ADD  CONSTRAINT [FKljxls67elp71u6pspj08hpnw9] FOREIGN KEY([id_san_pham])
REFERENCES [dbo].[san_pham] ([id])
GO
ALTER TABLE [dbo].[hinh_anh] CHECK CONSTRAINT [FKljxls67elp71u6pspj08hpnw9]
GO
ALTER TABLE [dbo].[hinh_anh]  WITH CHECK ADD  CONSTRAINT [FKm2ai11pepaydaj5usnr2oc4gv] FOREIGN KEY([id_bien_the])
REFERENCES [dbo].[bien_the_san_pham] ([id])
GO
ALTER TABLE [dbo].[hinh_anh] CHECK CONSTRAINT [FKm2ai11pepaydaj5usnr2oc4gv]
GO
ALTER TABLE [dbo].[khach_hang]  WITH CHECK ADD  CONSTRAINT [FKkgl78ag56x1sef9179gttw2rp] FOREIGN KEY([id_tai_khoan])
REFERENCES [dbo].[tai_khoan] ([id])
GO
ALTER TABLE [dbo].[khach_hang] CHECK CONSTRAINT [FKkgl78ag56x1sef9179gttw2rp]
GO
ALTER TABLE [dbo].[nhan_vien]  WITH CHECK ADD  CONSTRAINT [FKftw8p3bbfmlfq4wb9d9cbwr4v] FOREIGN KEY([id_tai_khoan])
REFERENCES [dbo].[tai_khoan] ([id])
GO
ALTER TABLE [dbo].[nhan_vien] CHECK CONSTRAINT [FKftw8p3bbfmlfq4wb9d9cbwr4v]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD  CONSTRAINT [FKk8b4wwituxbxbcudtvqie796j] FOREIGN KEY([id_danh_muc])
REFERENCES [dbo].[danh_muc] ([id])
GO
ALTER TABLE [dbo].[san_pham] CHECK CONSTRAINT [FKk8b4wwituxbxbcudtvqie796j]
GO
ALTER TABLE [dbo].[tai_khoan]  WITH CHECK ADD  CONSTRAINT [FKe5kamlxqi4e8iw7h2asdb9ohy] FOREIGN KEY([id_vai_tro])
REFERENCES [dbo].[vai_tro] ([id])
GO
ALTER TABLE [dbo].[tai_khoan] CHECK CONSTRAINT [FKe5kamlxqi4e8iw7h2asdb9ohy]
GO
ALTER TABLE [dbo].[thanh_toan_van_chuyen]  WITH CHECK ADD  CONSTRAINT [FK4imjgxaravdcibwe90dk2obi1] FOREIGN KEY([id_don_hang])
REFERENCES [dbo].[don_hang] ([id])
GO
ALTER TABLE [dbo].[thanh_toan_van_chuyen] CHECK CONSTRAINT [FK4imjgxaravdcibwe90dk2obi1]
GO
ALTER TABLE [dbo].[ton_kho]  WITH CHECK ADD  CONSTRAINT [FK8y87lauaqr5ylxail5svlye9x] FOREIGN KEY([id_bien_the])
REFERENCES [dbo].[bien_the_san_pham] ([id])
GO
ALTER TABLE [dbo].[ton_kho] CHECK CONSTRAINT [FK8y87lauaqr5ylxail5svlye9x]
GO
ALTER TABLE [dbo].[voucher_khach]  WITH CHECK ADD  CONSTRAINT [FK2ffrm8325tw10r28dggftsvbk] FOREIGN KEY([id_khach_hang])
REFERENCES [dbo].[khach_hang] ([id])
GO
ALTER TABLE [dbo].[voucher_khach] CHECK CONSTRAINT [FK2ffrm8325tw10r28dggftsvbk]
GO
ALTER TABLE [dbo].[voucher_khach]  WITH CHECK ADD  CONSTRAINT [FKbm8hbb72xv5ox0f34wpfgy3df] FOREIGN KEY([id_voucher])
REFERENCES [dbo].[voucher] ([id])
GO
ALTER TABLE [dbo].[voucher_khach] CHECK CONSTRAINT [FKbm8hbb72xv5ox0f34wpfgy3df]
GO
